.modal-content {
    position: fixed;
    top: 50%;
    left: 85%;
    bottom: -30%;
    right: -12%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 10000; /* Above backdrop */
  }

  .p
  {
    font-size: xx-small;
  }
  